:root{

  --main-blue: #05d0eb;
  --light-blue: #b4f0f9;
  --second-blue: #0341a4;
  --main-orange: #ff6600;
  --second-orange: #eb2005;
  --light-orange: #ffd9bf;
  --main-beige: rgb(245, 245, 220);
  --darker-beige: #a9a971;

  --nav: white;
  --footer: #0341a4;
  --footer-text: white;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  /* border: 1px dotted red; */
}
body{
  padding-top: 50px;
  background-color: whitesmoke;
}
.toggle-button{
  position: absolute;
  top: 1.25rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}
.toggle-button .bar{
  height: 3px;
  width: 100%;
  background-color: var(--second-blue);
  border-radius: 10px;
}
nav ul{
  display: none;
  width: 100%;
  height: 200px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
nav ul li{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
}
nav ul.active{
  display: flex;
}
nav{
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 50px;
  background-color: var(--nav);
  box-shadow: 0 0 5px 0;
  position:fixed;
  font-weight: bold;
}
nav ul li a{
  text-decoration: none;
  background-color: none;
  font-size: 1.5rem;
  color: var(--second-blue);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
nav .logo{
  width: 100%;
  display: flex;
  padding: 20px;
  
}
nav .logo a{
  color: var(--second-blue);
  font-size: 1.25rem;
}
nav ul li a:hover{
  background-color: white;
  color: var(--nav);
}
h2{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
}
/* Hero */
#hero {
  background-color: var(--second-blue);
  color: white;
  /* padding-top: 50px; */
}
#hero .col-1{
  /* background-image: linear-gradient(to top, #ff660000, rgba(255, 77, 0, 0)), url(./images/tom_partner_2022.jpeg); */
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
}
#hero h2{
  font-size: 2rem;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
#hero #sub-heading{
  font-size: 1.25rem;
  margin: 10px 0;
}
#hero img{
  width: 100%;
  max-width: 400px;
  height: 100%;
}
#hero .col-2{
  /* background-color: coral; */
  text-align: center;
  min-height: 400px;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}
#hero .hero-cta{
  background-color: var(--main-orange);
  min-width: 250px;
  height: 50px;
  border-radius: 10px;
  box-shadow: 0 0 15px 0px black;
  margin:0  auto;
}#hero b{
  color: lime;
}
.hero-cta a{
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.hero-cta a:hover{
  background-color: #b54900;
  color: white;
  border-radius: 10px;
}
#jumpNav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  padding: 50px 20px;
  gap: 20px;
}
#jumpNav h2{
  width: 100%;
  color: coral;
}
.links{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#jumpNav ul{
 width: 100%;
 display: flex;
 flex-direction: column;
 gap: 10px;
}
#jumpNav li{
  list-style: none;
}
#jumpNav i{
  font-size: 1.5rem;
  color: coral;
  margin-right: 10px;
}
#jumpNav a{
font-size: 1.5rem;
text-decoration: underline;
color: coral;
}
#jumpNav a:hover{
  color: var(--second-blue);
  text-decoration: none;
}


/* #why {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
#why .card{
  border: 1px solid red;
  width: 300px;
  text-align: start;
} */
.card{
  text-align: center;
}
.card i{
  text-align: center;
  width: 100%;
  font-size: 2em;
  margin: 10px;
}
.card h3{
  text-align: center;
}
#need {
  background-color: #f4f1ef;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--main-orange);
  padding: 20px;
}
#need .card img{
  height: 200px;
}
#need .card{
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
  box-shadow: 0 0 10px 0 gray;
  height: 300px;
  width: 250px; 
  margin: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* category links *******************************/

.arrow{
  border: solid coral;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  height: 10px;
  width: 10px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
#categories{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1000px;
  padding: 10px;
}
#categories p{
  display: none;
}
#categories p.active{
  display: flex;
  position: absolute;
  background-color: coral;
  color: white;
  width: 90%;
  max-width: 450px;
  padding: 10px;
  border-radius: 0 10px 10px 10px;
}
#categories h2{
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-decoration: underline;
  
}
#categories .row{
  background-color: white;
  color: coral;
  border-radius: 10px;
  padding: 20px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 490px;
}
#categories .col-2{
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
}

#untreated.row {
  background-color: var(--second-orange);
  color: white;
}
#untreated a{
  color: white;
}

/* faqs */
#faq .header{
  color: var(--second-blue);
  width: 100%;
  padding-left: 20px;
  display: flex;
  align-items: center;
  margin: 50px 0 20px 0;
}
#faq .row{
  padding: 10px 20px;
}
#faq h2{
  width: 100%;
  font-size: 1.5rem;
  color: coral;
}
#faq p{
  display: none;
}
#faq p.active{
  display: flex;
  background-color: coral;
  color: white;
  padding: 10px;
  width: 100%;
}
footer{
  background-color: var(--footer);
  color: var(--footer-text);
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 20px 100px 20px;
}
footer .contact{
  display: flex;
  flex-direction: column;
}
footer a, footer .contact{
  color: var(--footer-text);
  margin: 10px;
}

/* ************* How it works ****************** */
#steps{
  width: 100%;
  margin: 0 0 50px 0;
}
#steps .wrapper{
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  box-shadow: 0 0 10px 0 ;
  padding: 20px;
}

#steps .heading{
  color: var(--second-blue);
  font-size: 1.5rem;
  width: 100%;
  /* border: 1px red solid; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#steps i{
  background-color: #0341a4;
  color: white;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1rem;
}
#steps p{
  margin: 10px;
}
#steps h2{
  color: coral;
}
/**************Contact Page ***********************/
#contact .container{
  background-color: var(--second-blue);
  display: flex;
  flex-direction: column;
  padding: 50px 20px;
  gap: 20px;
}
#contact h2{
  color: var(--main-orange);
  color: coral;
}
#contact p{
  color: white;
}
#contact input, #contact textarea{
  width: 100%;
  padding: 20px 10px;
  border-radius: 10px;
  border: 2px solid black;
}
#contact form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}
#contact .submit{
  background-color: coral;
  color: white;
  font-size: 2rem;
  padding: 10px;
  width: 50%;
  margin: auto;
  
}

/* media queries */
/* ipad */
@media(min-width: 700px){
  .links{
    flex-direction: row;
  }
}
@media(min-width: 800px) {
  .toggle-button{
    display: none;
  }
  nav{
    height: 50px;
    flex-direction: row;
  }
  nav .logo{
    width: 20%;
    height: 100%;
    padding: 0;
  }
  nav .logo a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  nav ul{
    display: flex;
    flex-direction: row;
    height: 100%;
  }
  nav ul li a, nav .logo a{
    font-size: 1rem;
    width: 100%;
  }
  nav ul li a:hover{
    background-color: var(--second-blue);
    color: white;
  }
  .wrapper{
    max-width: 1000px;
    margin: auto;
  }
  #hero .wrapper{
    max-width: 1000px;
    height: 600px;
    display: flex;
    flex-direction: row;
  }
  #hero .col{
    width: 50%;
    height: 100%;
  }
  #main img{
    height: 100%;
    max-width: 100%;
  }

  #categories{
    display: flex;
    padding: 0;
    margin: auto;
  }

  #need .wrapper{
    display: flex;
    flex-direction: row;
  }


}
/* Desktop view */
@media (min-width: 1000px){
  
}